html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/css/main.css')
        script(src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=52kirtllzz")
        script(type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=52kirtllzz&submodules=geocoder")
    body
        i#menu.list.icon.big(onclick="clickMenu()" style="visibility:visible")
        #div_sideBar.ui.left.demo.vertical.inverted.sidebar.labeled.icon.menu
            a.item
                i.home.icon
                Home
            a.item
                i.block.layout.icon
                Topics
            a.item
                i.smile.icon
                Friends
        center
            H1= title 
            P
            #map2(style="width:380px;height:380px;")
            P
            input.ui.button.mini(type="file", id="uploadImg", name="uploadImg",style="display:none",onchange="showMap()")
            button.ui.button.active(onclick="clickUpload()")
                i.upload.icon
                |이미지 업로드
            P
            each photo in photos 
                img(src=photo.link,width="80%")
                .bold.center= photo.address
                if photo.deviceID===deviceID || deviceID==="5bee79fe6e63b7e26ddec58286a622a975983bee46f96830450de77f1c2c4dc4"
                    button.ui.mini.button(id=photo.createTm,onclick="deleteImage(this)") 삭제
                P
            P
            input(type='hidden' id='deviceID' value=deviceID)
        .ui.modal(tabindex="0") 
                .content
                    H3.center 어디서 찍은 사진이냥?
                    #map(style="width:320px;height:320px;")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://js.upload.io/upload-js/v1")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/main.js")
    script(src="/script/callAjax.js")